<form method="POST">


    <div class="form-group">
        <label for='name'>Trip</label>
        <input type=text id='name' name='name' class='form-control'>
    </div>
    <div class="form-group">
        <label for='Location'>Location</label>
        <input type=text id='Location' name='Location' class='form-control'>
    </div>


    <div class="form-group">
        <label for='Population'>Population</label>
        <input type=text id='Population' name='Population' class='form-control'>
    </div>
    <button type=submit class="btn btn-primary">Add Trip</button>

    </div>
</form>
